{{extend './layout.html'}}

{{block 'head'}}
{{/block}}

{{block 'content'}}
<div class="container-fluid">
  <div class="page-title">
    <h1>用户</h1>
  </div>
  <!-- 有错误信息时展示 -->
  <!-- <div class="alert alert-danger">
    <strong>错误！</strong>发生XXX错误
  </div> -->
  <div class="row">
    <div class="col-md-4">
      <form id="add_form">
        <h2>添加新用户</h2>
        <div class="form-group">
          <label for="email">邮箱</label>
          <input
            id="email"
            class="form-control"
            name="admin_email"
            type="email"
            placeholder="邮箱"
          />
        </div>
        <div class="form-group">
          <label for="slug">别名</label>
          <input
            id="slug"
            class="form-control"
            name="admin_slug"
            type="text"
            placeholder="slug"
          />
          <p class="help-block">
            https://example.com/author/<strong>slug</strong>
          </p>
        </div>
        <div class="form-group">
          <label for="nickname">昵称</label>
          <input
            id="nickname"
            class="form-control"
            name="admin_nickname"
            type="text"
            placeholder="昵称"
          />
        </div>
        <div class="form-group">
          <label for="password">密码</label>
          <input
            id="password"
            class="form-control"
            name="admin_pwd"
            type="text"
            placeholder="密码"
          />
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">添加</button>
        </div>
      </form>
    </div>
    <div class="col-md-8">
      <div class="page-action">
        <!-- show when multiple checked -->
        <a
          class="btn btn-danger btn-sm"
          href="javascript:;"
          style="display: none"
          >批量删除</a
        >
      </div>
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th class="text-center" width="40"><input type="checkbox" /></th>
            <th class="text-center" width="80">头像</th>
            <th>邮箱</th>
            <th>别名</th>
            <th>昵称</th>
            <th>状态</th>
            <th class="text-center" width="100">操作</th>
          </tr>
        </thead>
        <tbody id="list_container"></tbody>
      </table>
    </div>
  </div>
</div>
{{/block}}

{{block 'script'}}
<script id="usersTemplateId" type="text/html">
  {% each userList %}
    <tr>
      <td class="text-center" width="40">
        <input type="checkbox">
      </td>
      <td class="text-center" width="80">
        <img class="avatar" src="/public/assets/img/default.png" alt="">
      </td>
      <td>
        {% $value.admin_email %}
      </td>
      <td>
        {% $value.admin_slug %}
      </td>
      <td>
        {% $value.admin_nickname %}
      </td>
      <td>
        {% $value.admin_state %}
      </td>
      <td class="text-center">
        <a href="javascript:;" class="btn btn-default btn-xs">编辑</a>
        <a href="javascript:;" class="btn btn-danger btn-xs">删除</a>
      </td>
    </tr>
  {% /each %}
</script>
<script>
  loadList()
  // 加载用户列表
  function loadList() {
    $.ajax({
      url: '/api/users',
      method: 'GET',
      success: function(result) {
        var htmlStr = template('usersTemplateId', {
          userList: result.ret
        })

        $('#list_container').html(htmlStr)
      }
    })
  }
  // 该方法会自动监听表单的提交行为
  // 当你提交表单的时候，它就根据你在表单控件中设置的验证规则，进行验证
  // 如果验证失败，就在界面上给出提示
  // 如果验证通过，则调用 submitHandler 方法，所以我们可以把请求服务端提交数据的代码写到 submitHandler 中
  // 设置验证规则
  $("#add_form").validate({
    // 自定义规则
    rules:{
      admin_email:{
        required: true,
        // 异步验证
        remote:{
          url: "/api/users/checkemail",     //后台处理程序
          type: "GET",               //数据发送方式
          // 这里不用写data，自动会把值发过去，服务端就用req.query接收
          dataType: "json"
        }
      },
      admin_pwd:{
        required:true,
        minlength:2,
        maxlength:10
      }
    },
    // 自定义错误提示消息
    messages:{
      admin_email:{
        required:"邮箱不能为空",
        remote:'邮箱已经存在'
      },
      admin_pwd:{
        required:'密码不能为空',
        minlength:'密码长度为2至10位',
        maxlength:'密码长度为2至10位'
      }
    }
  })
  // 添加用户
  $('#add_form').on('submit',handleAdd)

  function handleAdd(){
    var formData = $('#add_form').serialize()
    $.ajax({
      url:'/api/user/create',
      method:'POST',
      data:formData,
      dataType:'json',
      success:function(result){
        //重新渲染页面
        loadList()
      }
    })
  }
</script>
{{/block}}
